<title>Assumption University Vaccine Booking System</title>

<body>
    <div class="wrapper">
        <!--Side Bar-->
        <nav id="sidebar">
            <!--Side Bar Header-->
            <div class="sidebar-header d-flex align-items-center justify-content-center">
                <img src="img/logo.png" class="img-fluid mr-3" alt="logo" style="max-width: 50px; height: auto;">
                <h4 class="mr-3">AU Vaccine</h4>
            </div>
            <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-user-large fa-5x my-3"></i>
                <h6 class="text-center" name="name" id="displayname"></h6>
                <a href="/myprofile" class="px-3">My Profile</a>
            </div>
            <hr />
            <!--Side Bar List-->
            <ul class="list-unstyled components">
                <li class="nav-link">
                    <a href="/home"><i class="fa-solid fa-house"></i><span>Home</span></a>
                </li>
                <li class="nav-link">
                    <a href="/booking"><i class="fa-regular fa-calendar-check"></i><span>Booking Vaccine</span></a>
                </li>
                <li class="nav-link">
                    <a href="/myapp"><i class="fa-regular fa-calendar-days"></i></i><span>My Appointment</span></a>
                </li>
                <li class="active nav-link">
                    <a href="/history"><i class="fa-solid fa-syringe"></i><span>Vaccine History</span></a>
                </li>
                <li class="nav-link">
                    <a href="/selfreport"><i class="fa-solid fa-virus-covid"></i><span>Self-Report</span></a>
                </li>
                <li class="nav-link">
                    <a href="/login"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
                </li>
            </ul>
            <hr />
        </nav>
        <!--Page Content-->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <!--Sidebar Toggle-->
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa-solid fa-bars"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <div id="noti"></div>
                </div>
            </nav>
            <!--Header-->
            <div class="container-fluid text-center text-white font-weight-bold py-3 mb-3" id="banner">
                <h1>My Vaccination History</h1>
            </div>
            <!--Vaccination history-->
            <div class="container-fluid table-responsive">
                <table class="table table-bordered table-light">
                    <thead>
                        <tr>
                            <th class="text-center bg-primary text-light">Dose</th>
                            <th class="text-center bg-primary text-light">Date</th>
                            <th class="text-center bg-primary text-light">Vaccine Brand</th>
                            <th class="text-center bg-primary text-light">Hospital</th>
                            <th class="text-center bg-primary text-light">Lot No.</th>
                            <th class="text-center bg-primary text-light">Serial No.</th>
                        </tr>
                    </thead>
                    <tbody id="hislist">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        //notificaiotn
        const noti = document.getElementById('noti')
        axios.get('user/noti').then((response) => {
            console.log(response.data)
            noti.innerHTML = response.data
        });
        //Display user vaccine history
        axios.get('/appointment/historytable').then((response) => {
            drawTable(response.data)
            function drawTable(data) {
                for (var i = 0; i < data.length; i++) {
                    drawRow(data[i]);
                }
                console.log(data);
            }
            function drawRow(rowData) {
                var row = $("<tr />")
                $("#hislist").append(row);
                row.append($("<td class='text-center'>" + rowData.vacc_dose + "</td>"));
                row.append($("<td class='text-center'>" + rowData.app_date.substring(0, 10) + "</td>"));
                row.append($("<td class='text-center'>" + rowData.vacc_name + "</td>"));
                row.append($("<td class='text-center'>" + rowData.vacc_hospital + "</td>"));
                row.append($("<td class='text-right'>" + rowData.vacc_lot + "</td>"));
                row.append($("<td class='text-right'>" + rowData.vacc_serial + "</td>"));
            }
        });
    });
</script>