<p class="font-weight-bold mt-2">Article ID:</p>
<p><%= renderData.art_id %></p>
<a href="#delete" class="btn btn-danger" data-toggle="modal">DELETE ENTIRE ARTICLE</a>
<p class="font-weight-bold mt-5">Old Title:</p>
<p><%= renderData.art_title %></p>
<div class="form-group">
    <label for="art_title" class="font-weight-bold mt-2">New Title:</label>
    <input type="text" class="form-control" id="art_title" value="<%= renderData.art_title %>">
</div>
<button type="button" class="btn btn-primary mt-2" id="btntitle">Change Title</button>
<div class="form-group">
    <label for="art_body" class="font-weight-bold mt-5">New Body:</label>
    <textarea class="form-control" id="art_body" rows="10" maxlength="5000"></textarea>
</div>
<button type="button" class="btn btn-primary mt-2" id="btnbody">Change Body</button>
</div>
<!-- Delete Modal-->
<div class="modal fade" id="delete">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please confirm before deleting article</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h6>Are you fully intend to delete the article?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btndelete">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>